@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/*
* RESET
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-size: 14px;
}

html,
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body,
th,
td,
input,
select,
textarea,
button {
    font-size: 14px;
    line-height: 1.5;
    font-family: "Spoqa Han Sans Neo", "sans-serif" !important;
    color: #444444;
}

fieldset,
img {
    border: 0 none;
}

dl,
ul,
ol,
menu,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

select {
    font-size: 100%;
    vertical-align: middle;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

input,
textarea,
button {
    font-size: 100%;
    vertical-align: middle;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
}

body {
    height: 100%;
    background: #ffffff;
    color: #444444;
    -webkit-text-size-adjust: none;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

a:active,
a:hover {
    text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="search"],
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"] {
    -webkit-appearance: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

input[type="radio"] {
    -webkit-appearance: radio;
}

input[type="number"] {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input:focus,
textarea:focus {
    outline: none !important;
}

textarea {
    resize: none;
}

/*
* HEADER
*/
.header {
    position: relative;
    padding: 0.75rem;
    border-bottom: 1px solid #444;
    font-size: 0;
}

.header-arrow-prev {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 8%;
    width: 40px;
    height: 40px;
    background: url('/images/ico_arrow_left.png') 50% 50% no-repeat;
    background-size: 85%;
}

.header-title {
    text-align: center;
    font-size: 1.286rem;
    font-weight: bold;
}

/*
* INPUT
*/
.input-text {}

.input-text input {
    width: 100%;
    height: 28px;
    line-height: 28px;
    border: 1px solid #DDDDDD;
    color: #444444;
    text-indent: 10px;
    font-size: 0.857rem;
    padding: 0;
}

.input-text input:focus {
    outline: none;
}

.input-text input[readonly] {
    background-color: #ffffff;
}

.input-text input[readonly]:focus {
    color: #444;
}

.input-text input::placeholder {
    color: #DDDDDD;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio"]+label span.radio {
    display: inline-block;
    margin-right: 7px;
    width: 20px;
    height: 20px;
    font-size: 0;
    vertical-align: middle;
    background: url('/images/ico_radio.png') 50% 50% no-repeat;
    background-size: cover;
    cursor: pointer;
}

input[type="radio"]:checked+label span.radio {
    background: url('/images/ico_radio_active.png') 50% 50% no-repeat;
    background-size: cover;
}

input[type="checkbox"]+label span.checkbox {
    display: inline-block;
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
    font-size: 0;
    vertical-align: middle;
    background: url('/images/ico_checkbox.png') 50% 50% no-repeat;
    background-size: cover;
    cursor: pointer;
}

input[type="checkbox"]:checked+label span.checkbox {
    background: url('/images/ico_checkbox_active.png') 50% 50% no-repeat;
    background-size: cover;
}

.input-textarea textarea {
    border: 1px solid #DDDDDD;
    width: 100%;
    font-size: 0.857rem;
    padding: 8px 10px;
    min-height: 96px;
}

/*
* BUTTON
*/
.btn-area {
    font-size: 0;
    text-align: center;
}

.popup-btn-area {
    font-size: 0;
    text-align: right;
}

.btn {
    display: inline-block;
    min-width: 60px;
    box-sizing: border-box;
    text-align: center;
}

.btn.type01 {
    color: #F8F8F8;
    background-color: #FFD200;
}

.btn.small {
    width: 46.5%;
    font-size: 1rem;
    padding: 0.5em;
    font-weight: bold;
}

.btn.medium {
    width: 83%;
    padding: 0.714em;
    font-size: 1rem;
    font-weight: bold;
}

.btn.small-medium {
    width: 63%;
    padding: 0.714em;
    font-size: 1rem;
    font-weight: bold;
}

.btn.normal {
    border-radius: 0px;
    -webkit-border-radius: 0px;
}


.btn.round {
    border-radius: 34px;
    -webkit-border-radius: 34px;
}

/*
* APPLY.html
*/
.applay-content {
    padding: 3rem 3em;
}

.applay-content .applay-info-area {
    margin-bottom: 1.714em;
    font-size: 0.857rem;
}

.applay-content .applay-info-area>label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.applay-content .apply-jockey-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.applay-content .apply-field-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 12px;
}

.applay-info-area .explanation-text {
    margin: -10px 0 10px 0;
    font-size: 0.75rem;
}

.required-icon {
    color: #FF0000;
    vertical-align: middle;
    display: inline;
    margin-left: 6px;
}

/*
* POPUP
*/
.popup-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 5px 10px 12px 10px;
    width: 73%;
    background: #EBEBEB;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.popup-container .popup-close-btn {
    width: 30px;
    height: 30px;
    background: url('/images/ico_close_btn.png') 50% 50%;
    background-size: cover;
}

.popup-container .popup-text {
    padding: 5px 0 30px 0;
    text-align: center;
    font-size: 1rem;
}

.hidden {
    display: none;
}

/* Mobile Device */
@media screen and (max-width : 360px) {

    input[type="checkbox"]+label span.checkbox,
    input[type="radio"]+label span.radio {
        width: 17px;
        height: 17px;
    }

    html,
    body {
        font-size: 13px;

    }

}

@media screen and (max-width : 320px) {

    html,
    body {
        font-size: 12px;

    }
}

@media screen and (max-width : 285px) {

    input[type="checkbox"]+label span.checkbox,
    input[type="radio"]+label span.radio {
        width: 15px;
        height: 15px;
    }

    html,
    body {
        font-size: 11px;

    }
}